@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1faee;
  --foreground: #171717;
  
  --primary: #37D299;           
  --primary-foreground: #ffffff;
  
  --secondary: #F1FAEE;         
  --secondary-foreground: #141414 ;
  
  --accent: #37D299;            
  --accent-foreground: #ffffff;
  
  --muted: #f8fafc;            
  --muted-foreground: #303030;
  
  --card: #ffffff;              
  --card-foreground: #141414;   
  
  --border: #37D299;            
  
  --projects-bg: #141414;       
  --projects-foreground: #f1f5f9;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

@keyframes slow-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-slow-appear {
  animation: slow-appear 0.5s forwards;
}
input:focus {
  outline: none;
}
.group:hover .group-hover\:paused {
  animation-play-state: paused;
}
.box-shadow {
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll-left {
  animation: scroll-left 20s linear infinite;
}

.hover\:pause-animation:hover .animate-scroll-left {
  animation-play-state: paused;
}
.hamburger {
  padding: 15px;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  background-color: transparent;

}

.hamburger__container {
  width: 36px;
  height: 24px;
  position: relative;
}

.hamburger__inner {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  transform: translate(5px, -50%);
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 1;
}

.hamburger__inner::before,
.hamburger__inner::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 1;
  transform: translate(-5px, 0);
}

.hamburger__inner::before {
  top: -13px;
}

.hamburger__inner::after {
  top: 13px;
}

.hamburger__hidden {
  opacity: 0;
  width: 100%;
  height: 2px;
  background-color:#d23770;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  transform: translate(51px, -50%);
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.hamburger__hidden::before,
.hamburger__hidden::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color:#d23770;
  border-radius: 4px;
  position: absolute;
  transition: transform 0.4s ease, opacity 0.4s ease;
  transform: translate(72px, 0);
}

.hamburger__hidden::before {
  top: -13px;
}

.hamburger__hidden::after {
  top: 13px;
}

.hamburger:hover .hamburger__inner {
  transform: translate(-51px, 50%);
  opacity: 0;
}

.hamburger:hover .hamburger__inner::before,
.hamburger:hover .hamburger__inner::after {
  transform: translate(102px, 0);
  opacity: 0;
}

.hamburger.is-active .hamburger__inner {
  display: none;
}

.hamburger:hover .hamburger__hidden {
  opacity: 1;
  transform: translate(0, -50%);
}

.hamburger:hover .hamburger__hidden::before,
.hamburger:hover .hamburger__hidden::after {
  opacity: 1;
  transform: translate(0, 0);
}

.hamburger.is-active .hamburger__hidden {
  opacity: 1;
  transform: rotate(45deg);
}

.hamburger.is-active .hamburger__hidden::before {
  transform: translate(0, 13px) rotate(90deg);
  transform-origin: center;
}

.hamburger.is-active .hamburger__hidden::after {
  transform: translate(0, -13px);
}

.nav-text {
  position: relative;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease; 
}

.nav-text::before {
  background:#d23770;
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
  border-radius: 4px;
}

.nav-text:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

::-webkit-scrollbar {
  display: none; 
}

.nav-text-adaptive {
  color: currentColor;
  font-weight: 600;
  transition: all 0.3s ease;
}
.nav-text-adaptive:hover {
  color: ffd966;
}

@media (prefers-color-scheme: light) {
  .nav-text-adaptive {
    color: #000000;
  }
}

@media (prefers-color-scheme: dark) {
  .nav-text-adaptive {
    color: #ffffff;
  }
}

/* Menu animations */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}