@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141414;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.button {
  box-sizing: border-box;
  cursor: pointer;
  z-index: 2;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button svg {
  stroke: #141414;
  transition: 0.4s ease;
}

/* Shadow only on lines */
.button svg g:first-child line,
.button svg g:last-child line {
  filter: url(#line-shadow); /* Apply shadow to lines */
}

.button svg g:first-child {
  opacity: 1;
  transition: opacity 0.2s ease-out 0.3s;
}

.button svg g:first-child line {
  transition: transform 0.3s ease-out 0.3s;
  transform: translateY(0px);
}

.button svg g:last-child {
  opacity: 0;
  transition: opacity 0.2s ease-out 0.3s;
}

.button svg g:last-child line {
  transition: transform 0.3s ease;
  transform: rotate(0deg);
  transform-origin: center;
}

.button.-menu-open {
  transform: scale(1.05);
  box-shadow: none; /* Keep shadow off on the box */
}

.button.-menu-open svg {
  stroke: #141414;
}

.button.-menu-open svg g:first-child {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.button.-menu-open svg g:first-child line:first-child {
  transform: translateY(7px);
}

.button.-menu-open svg g:first-child line:last-child {
  transform: translateY(-7px);
}

.button.-menu-open svg g:last-child {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.button.-menu-open svg g:last-child line:first-child {
  transform: rotate(45deg);
  transition: transform 0.3s ease-out 0.1s;
}

.button.-menu-open svg g:last-child line:last-child {
  transform: rotate(-45deg);
  transition: transform 0.3s ease-out 0.1s;
}
.menu-button {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.menu-button:hover {
  transform: scale(1.1);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes slow-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-slow-appear {
  animation: slow-appear 0.5s forwards;
}
input:focus {
  outline: none;
}
.group:hover .group-hover\:paused {
  animation-play-state: paused;
}
.box-shadow {
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll-left {
  animation: scroll-left 20s linear infinite;
}

/* Pause animation on hover */
.hover\:pause-animation:hover .animate-scroll-left {
  animation-play-state: paused;
}
.nav-text-bg {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 4px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
/* .nav-text {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.nav-text:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: white;
} */
.hamburger {
  padding: 15px;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  background-color: transparent;
}

.hamburger__container {
  width: 36px;
  height: 24px;
  position: relative;
}

.hamburger__inner {
  width: 100%;
  height: 2px;
  background-color: #111827;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  transform: translate(5px, -50%);
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 1;
}

.hamburger__inner::before,
.hamburger__inner::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #111827;
  border-radius: 4px;
  position: absolute;
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 1;
  transform: translate(-5px, 0);
}

.hamburger__inner::before {
  top: -13px;
}

.hamburger__inner::after {
  top: 13px;
}

.hamburger__hidden {
  opacity: 0;
  width: 100%;
  height: 2px;
  background-color: red;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  transform: translate(51px, -50%);
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.hamburger__hidden::before,
.hamburger__hidden::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: red;
  border-radius: 4px;
  position: absolute;
  transition: transform 0.4s ease, opacity 0.4s ease;
  transform: translate(72px, 0);
}

.hamburger__hidden::before {
  top: -13px;
}

.hamburger__hidden::after {
  top: 13px;
}

.hamburger:hover .hamburger__inner {
  transform: translate(-51px, 50%);
  opacity: 0;
}

.hamburger:hover .hamburger__inner::before,
.hamburger:hover .hamburger__inner::after {
  transform: translate(102px, 0);
  opacity: 0;
}

.hamburger.is-active .hamburger__inner {
  display: none;
}

.hamburger:hover .hamburger__hidden {
  opacity: 1;
  transform: translate(0, -50%);
}

.hamburger:hover .hamburger__hidden::before,
.hamburger:hover .hamburger__hidden::after {
  opacity: 1;
  transform: translate(0, 0);
}

.hamburger.is-active .hamburger__hidden {
  opacity: 1;
  transform: rotate(45deg);
}

.hamburger.is-active .hamburger__hidden::before {
  transform: translate(0, 13px) rotate(90deg);
  transform-origin: center;
}

.hamburger.is-active .hamburger__hidden::after {
  transform: translate(0, -13px);
}

.nav-text {
  color: #000;
  position: relative;
  text-decoration: none;
}

.nav-text::before {
  background: hsl(45 100% 70%);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.nav-text:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

::-webkit-scrollbar {
  display: none; 
}